# Copyright 2020 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Clang 9 is required.
build --client_env=CC=clang

# Disable warnings we don't care about.
build --copt=-Wno-unused-local-typedef

# C++14 standard version is required.
build --cxxopt=-std=c++14 --host_cxxopt=-std=c++14

# Necessary linker options.
build --linkopt=-pthread
build --linkopt=-ldl
build --linkopt=-lm
build --host_linkopt=-pthread
build --host_linkopt=-ldl
build --host_linkopt=-lm

# Default to an optimized build.
# Override via: "-c dbg" or --compilation_mode=dbg
# build --compilation_mode=opt


# Disable RTTI and exceptions
build:disable_rtti_and_exceptions --no//:rtti_and_exceptions

# Minimize code size for //tools:code_size_test_driver target.
build:code_size_test --compilation_mode=opt --copt=-Os
build:code_size_test --linkopt=-Wl,--strip-all --linkopt=-Wl,--icf=safe
build:code_size_test --config=disable_rtti_and_exceptions

# Remote repo experimental feature
build --experimental_repo_remote_exec

# I think this is what allows us to build out of tree
build --nocheck_visibility
