# Editor cruft
**/.vscode/

# Python cruft
**/*.pyc
**/__pycache__/*
.venv/*
**/.ipynb_checkpoints/*
**/*.egg-info/*
**/*.eggs/*
Pipfile.lock
ai_tools_venv/*
xformer/.venv

# Build cruft
**/.lock*
**/build*/
**/.build/
_build
**/dist/
**/bin/
*.o
*.so*
*.dylib
/.bazelrc.user
.bazelrc.user
/.tf_configure.bazelrc
/bazel-*
/bazel_pip
compile_commands.json
.cache
wheels/
python/xmos_ai_tools/runtime/lib
python/xmos_ai_tools/runtime/include

# Test cruft
**/.pytest_cache/*
**/*_junit.xml

# macOS cruft
.DS_Store

# Misc cruft
**/*.local.*

# VI tmp files
*.swp
*.swo
*.swn

# tmp files
*~
*.*~
*log*

# Models/training
*.h5
*.html
*training_history.png
xformer/model_maker/*.tflite

# Others
*.npz
*.y
*.x

**/notebooks/**/*.jpeg
**/notebooks/**/*.jpg
**/notebooks/**/*.txt.*

# £xamples
examples/app_no_flash/model.tflite
examples/app_no_flash/src/model.tflite.cpp
examples/app_no_flash/src/model.tflite.h
examples/app_no_flash_with_ioserver/src/model.tflite
examples/app_no_flash_with_ioserver/src/model.tflite.cpp
examples/app_no_flash_with_ioserver/src/model.tflite.h
examples/app_flash_single_model/model.params
examples/app_flash_single_model/model.tflite
examples/app_flash_single_model/src/model.tflite.cpp
examples/app_flash_single_model/src/model.tflite.h
examples/app_flash_single_model/xcore_flash_binary.out
examples/app_flash_two_models/model1.params
examples/app_flash_two_models/model1.tflite
examples/app_flash_two_models/model2.params
examples/app_flash_two_models/model2.tflite
examples/app_flash_two_models/src/model1.tflite.cpp
examples/app_flash_two_models/src/model1.tflite.h
examples/app_flash_two_models/src/model2.tflite.cpp
examples/app_flash_two_models/src/model2.tflite.h
examples/app_flash_two_models/xcore_flash_binary.out
examples/app_flash_two_models_one_arena/model1.params
examples/app_flash_two_models_one_arena/model1.tflite
examples/app_flash_two_models_one_arena/model2.params
examples/app_flash_two_models_one_arena/xcore_flash_binary.out
examples/app_flash_two_models_one_arena/model2.tflite
examples/app_flash_two_models_one_arena/src/model1.tflite.cpp
examples/app_flash_two_models_one_arena/src/model1.tflite.h
examples/app_flash_two_models_one_arena/src/model2.tflite.cpp
examples/app_flash_two_models_one_arena/src/model2.tflite.h
examples/app_flash_two_models_one_arena/xcore_flash_binary.out
examples/app_mobilenetv2/src/model.tflite
examples/app_mobilenetv2/src/model.tflite.cpp
examples/app_mobilenetv2/src/model.tflite.h
examples/app_mobilenetv2/src/model_flash.params
examples/app_mobilenetv2/xcore_flash_binary.out
examples/app_mobilenetv2/mobilenetv2.tflite
examples/app_yolov8_classification/src/model.tflite
examples/app_yolov8_classification/src/model.tflite.cpp
examples/app_yolov8_classification/src/model.tflite.h
examples/app_yolov8_classification/src/model_flash.params
examples/app_yolov8_classification/xcore_flash_binary.out
examples/app_yolov8_classification/yolov8n-cls.onnx
examples/app_yolov8_classification/yolov8n-cls.pt
examples/app_yolov8_classification/yolov8n-cls_saved_model/
examples/app_denoising/data
