# editor cruft
**/.vscode/

# python cruft
**/.pyc
**/__pycache__/*
.venv/*
**/.ipynb_checkpoints/*
Pipfile.lock

# build cruft
_build
**/.build/

# MacOS cruft
.DS_Store

#xwaf cruft
**/.lock*
**/build/
**/bin/
