[submodule "xcore/operator_book/Unity"]
	path = lib_nn/Unity
	url = git@github.com:xmos/Unity
	ignore = dirty
[submodule "third_party/unity"]
	path = third_party/unity
	url = git@github.com:ThrowTheSwitch/Unity.git
	ignore = dirty
[submodule "third_party/flatbuffers"]
	path = third_party/flatbuffers
	url = git@github.com:google/flatbuffers.git
	ignore = dirty
[submodule "third_party/tensorflow"]
	path = third_party/tensorflow
	url = git@github.com:xmos/tensorflow
	ignore = all
	branch = develop
[submodule "third_party/gemmlowp"]
	path = third_party/gemmlowp
	url = git@github.com:google/gemmlowp.git
	ignore = dirty
[submodule "third_party/ruy"]
	path = third_party/ruy
	url = git@github.com:google/ruy.git
    ignore = dirty
