numpy>=1.20; platform_machine != 'arm64'
tensorflow==2.8.0; platform_machine != 'arm64'
numpy==1.22.3; sys_platform == 'darwin' and platform_machine == 'arm64'
tensorflow-macos==2.8.0; sys_platform == 'darwin' and platform_machine == 'arm64'
pkgconfig==1.5.5
pytest==7.0.1
pytest-xdist==2.5.0
larq-compute-engine==0.7.0
