# Clang 9 is required.
#build --client_env=CC=clang

# Disable warnings we don't care about.
#build --copt=-Wno-unused-local-typedef

# C++14 standard version is required.
build --cxxopt=-std=c++14 --host_cxxopt=-std=c++14

# Necessary linker options.
#build --linkopt=-pthread
#build --linkopt=-ldl
#build --linkopt=-lm
#build --host_linkopt=-pthread
#build --host_linkopt=-ldl
#build --host_linkopt=-lm

build --experimental_repo_remote_exec
build --nocheck_visibility

build:darwin_config --linkopt=-framework
build:darwin_config --linkopt=Foundation
build:darwin_config --linkopt=-framework
build:darwin_config --linkopt=SystemConfiguration
#build:linux_config --linkopt=-lm
#build:linux_config --linkopt=-lrt

# Address sanitizer
# CC=clang bazel build --config asan
build:asan --strip=never
build:asan --copt -Wno-macro-redefined
build:asan --copt -fsanitize=address
build:asan --copt -DADDRESS_SANITIZER
build:asan --copt -g
build:asan --copt -O1
build:asan --copt -fno-omit-frame-pointer
build:asan --copt -fno-sanitize-recover=all
build:asan --copt -gmlt
build:asan --linkopt -fsanitize=address

# BAZEL DEBUG BUILD NOTES
# Creating a debug build for Tensorflow is extremely taxing. Enabling debug for all of Tensorflow makes the build and link process take 3-4 hours. It finally doesn't work as the library is too large to be loaded. 
# As a solution to this problem, the bazel option --per_file_copt is awesome as it allows just the files within a particular package to be built with different flags. 
# This is used in the below command to create a Tensorflow build which includes only debug symbols for Tensorflow Lite. Tensorflow also requires bazel version 3.7.2, so this is used locally just for the Tensorflow build.
# In the following command, we build the target "build_pip_package". This builds all(most) of Tensorflow and creates a Python whl package which we can "pip install". This can then be used to debug the TFLite interpreter when we are invoking it via the Tensorflow Python API, such as in xformer1.
# bazel build -c opt --strip="never" --per_file_copt="//tensorflow/lite/.*\.cc@-g,-O0" //tensorflow/tools/pip_package:build_pip_package

# Use the following command to create a debug build for xformer2
# bazel build -c dbg --spawn_strategy=local --javacopt="-g" --copt="-g" --strip="never" //:xcore-opt

# Use our custom-configured c++ toolchain.
#build:linux_config --crosstool_top=//toolchain:gnu_suite

# Use --cpu as a differentiator.
#build:linux_config --cpu=k8

# Use the default Bazel C++ toolchain to build the tools used during the
# build.
#build:linux_config --host_crosstool_top=//toolchain:gnu_suite
