# Clang 9 is required.
build --client_env=CC=clang

# Disable warnings we don't care about.
build --copt=-Wno-unused-local-typedef

# C++14 standard version is required.
build --cxxopt=-std=c++14 --host_cxxopt=-std=c++14

# Necessary linker options.
build --linkopt=-pthread
build --linkopt=-ldl
build --linkopt=-lm
build --host_linkopt=-pthread
build --host_linkopt=-ldl
build --host_linkopt=-lm

# Default to an optimized build.
# Override via: "-c dbg" or --compilation_mode=dbg
# build --compilation_mode=opt


# Disable RTTI and exceptions
build:disable_rtti_and_exceptions --no//:rtti_and_exceptions

# Minimize code size for //tools:code_size_test_driver target.
build:code_size_test --compilation_mode=opt --copt=-Os
build:code_size_test --linkopt=-Wl,--strip-all --linkopt=-Wl,--icf=safe
build:code_size_test --config=disable_rtti_and_exceptions

# Remote repo experimental feature
build --experimental_repo_remote_exec

# I think this is what allows us to build out of tree
build --nocheck_visibility
