# python_version 3.11
# pip_version 25.*

# Build-only dependencies
cmake>=3.23
ninja>=1.11.1
setuptools>=61
setuptools_scm>=8.0.0
wheel>=0.41.2
twine>=6.2.0
patchelf>=0.17.2.0; sys_platform == "linux"
auditwheel>=6.0.0; sys_platform == "linux"